<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>CR</key>
  <string>C_R_.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>NULL</key>
  <string>N_U_L_L_.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>afii10017</key>
  <string>afii10017.glif</string>
  <key>afii10018</key>
  <string>afii10018.glif</string>
  <key>afii10019</key>
  <string>afii10019.glif</string>
  <key>afii10020</key>
  <string>afii10020.glif</string>
  <key>afii10021</key>
  <string>afii10021.glif</string>
  <key>afii10022</key>
  <string>afii10022.glif</string>
  <key>afii10024</key>
  <string>afii10024.glif</string>
  <key>afii10025</key>
  <string>afii10025.glif</string>
  <key>afii10026</key>
  <string>afii10026.glif</string>
  <key>afii10027</key>
  <string>afii10027.glif</string>
  <key>afii10028</key>
  <string>afii10028.glif</string>
  <key>afii10029</key>
  <string>afii10029.glif</string>
  <key>afii10030</key>
  <string>afii10030.glif</string>
  <key>afii10031</key>
  <string>afii10031.glif</string>
  <key>afii10032</key>
  <string>afii10032.glif</string>
  <key>afii10033</key>
  <string>afii10033.glif</string>
  <key>afii10034</key>
  <string>afii10034.glif</string>
  <key>afii10035</key>
  <string>afii10035.glif</string>
  <key>afii10036</key>
  <string>afii10036.glif</string>
  <key>afii10037</key>
  <string>afii10037.glif</string>
  <key>afii10038</key>
  <string>afii10038.glif</string>
  <key>afii10039</key>
  <string>afii10039.glif</string>
  <key>afii10040</key>
  <string>afii10040.glif</string>
  <key>afii10041</key>
  <string>afii10041.glif</string>
  <key>afii10042</key>
  <string>afii10042.glif</string>
  <key>afii10043</key>
  <string>afii10043.glif</string>
  <key>afii10044</key>
  <string>afii10044.glif</string>
  <key>afii10046</key>
  <string>afii10046.glif</string>
  <key>afii10048</key>
  <string>afii10048.glif</string>
  <key>afii10049</key>
  <string>afii10049.glif</string>
  <key>afii10055</key>
  <string>afii10055.glif</string>
  <key>afii10065</key>
  <string>afii10065.glif</string>
  <key>afii10066</key>
  <string>afii10066.glif</string>
  <key>afii10067</key>
  <string>afii10067.glif</string>
  <key>afii10068</key>
  <string>afii10068.glif</string>
  <key>afii10069</key>
  <string>afii10069.glif</string>
  <key>afii10070</key>
  <string>afii10070.glif</string>
  <key>afii10072</key>
  <string>afii10072.glif</string>
  <key>afii10073</key>
  <string>afii10073.glif</string>
  <key>afii10074</key>
  <string>afii10074.glif</string>
  <key>afii10075</key>
  <string>afii10075.glif</string>
  <key>afii10076</key>
  <string>afii10076.glif</string>
  <key>afii10077</key>
  <string>afii10077.glif</string>
  <key>afii10078</key>
  <string>afii10078.glif</string>
  <key>afii10079</key>
  <string>afii10079.glif</string>
  <key>afii10080</key>
  <string>afii10080.glif</string>
  <key>afii10081</key>
  <string>afii10081.glif</string>
  <key>afii10082</key>
  <string>afii10082.glif</string>
  <key>afii10083</key>
  <string>afii10083.glif</string>
  <key>afii10084</key>
  <string>afii10084.glif</string>
  <key>afii10085</key>
  <string>afii10085.glif</string>
  <key>afii10086</key>
  <string>afii10086.glif</string>
  <key>afii10087</key>
  <string>afii10087.glif</string>
  <key>afii10088</key>
  <string>afii10088.glif</string>
  <key>afii10089</key>
  <string>afii10089.glif</string>
  <key>afii10090</key>
  <string>afii10090.glif</string>
  <key>afii10091</key>
  <string>afii10091.glif</string>
  <key>afii10092</key>
  <string>afii10092.glif</string>
  <key>afii10094</key>
  <string>afii10094.glif</string>
  <key>afii10095</key>
  <string>afii10095.glif</string>
  <key>afii10096</key>
  <string>afii10096.glif</string>
  <key>afii10097</key>
  <string>afii10097.glif</string>
  <key>afii10103</key>
  <string>afii10103.glif</string>
  <key>afii10146</key>
  <string>afii10146.glif</string>
  <key>afii10194</key>
  <string>afii10194.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>nbsp</key>
  <string>nbsp.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotedblbase</key>
  <string>quotedblbase.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quotereversed</key>
  <string>quotereversed.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quotesinglbase</key>
  <string>quotesinglbase.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>uni0009</key>
  <string>uni0009.glif</string>
  <key>uni000A</key>
  <string>uni000A_.glif</string>
  <key>uni000D</key>
  <string>uni000D_.glif</string>
  <key>uni03F3</key>
  <string>uni03F_3.glif</string>
  <key>uni0400</key>
  <string>uni0400.glif</string>
  <key>uni0401</key>
  <string>uni0401.glif</string>
  <key>uni0402</key>
  <string>uni0402.glif</string>
  <key>uni0403</key>
  <string>uni0403.glif</string>
  <key>uni0405</key>
  <string>uni0405.glif</string>
  <key>uni0407</key>
  <string>uni0407.glif</string>
  <key>uni0408</key>
  <string>uni0408.glif</string>
  <key>uni0409</key>
  <string>uni0409.glif</string>
  <key>uni040A</key>
  <string>uni040A_.glif</string>
  <key>uni040B</key>
  <string>uni040B_.glif</string>
  <key>uni040C</key>
  <string>uni040C_.glif</string>
  <key>uni040D</key>
  <string>uni040D_.glif</string>
  <key>uni040F</key>
  <string>uni040F_.glif</string>
  <key>uni042D</key>
  <string>uni042D_.glif</string>
  <key>uni044B</key>
  <string>uni044B_.glif</string>
  <key>uni0450</key>
  <string>uni0450.glif</string>
  <key>uni0451</key>
  <string>uni0451.glif</string>
  <key>uni0452</key>
  <string>uni0452.glif</string>
  <key>uni0453</key>
  <string>uni0453.glif</string>
  <key>uni0455</key>
  <string>uni0455.glif</string>
  <key>uni0457</key>
  <string>uni0457.glif</string>
  <key>uni0458</key>
  <string>uni0458.glif</string>
  <key>uni0459</key>
  <string>uni0459.glif</string>
  <key>uni045A</key>
  <string>uni045A_.glif</string>
  <key>uni045B</key>
  <string>uni045B_.glif</string>
  <key>uni045C</key>
  <string>uni045C_.glif</string>
  <key>uni045D</key>
  <string>uni045D_.glif</string>
  <key>uni045F</key>
  <string>uni045F_.glif</string>
  <key>uni046A</key>
  <string>uni046A_.glif</string>
  <key>uni046B</key>
  <string>uni046B_.glif</string>
  <key>uni046C</key>
  <string>uni046C_.glif</string>
  <key>uni046D</key>
  <string>uni046D_.glif</string>
  <key>uni200B</key>
  <string>uni200B_.glif</string>
  <key>uni201f</key>
  <string>uni201f.glif</string>
  <key>uni2028</key>
  <string>uni2028.glif</string>
  <key>uni2029</key>
  <string>uni2029.glif</string>
  <key>uni2116</key>
  <string>uni2116.glif</string>
  <key>uniFEFF</key>
  <string>uniF_E_F_F_.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
</dict>
</plist>
